<form id="login" action="/sessions" method="post">
  <fieldset>
    <legend>Login</legend>

    <div class="alert alert-error" style="display:none;"></div>

    <div class="control-group">
      <label for="name" class="control-label">Username</label>
      <div class="controls">
        <input type="text" name="username" id="username" placeholder="Username" />
      </div>
    </div>

    <div class="control-group">
      <label for="description" class="control-label">Password</label>
      <div class="controls">
        <input type="password" name="password" id="password" placeholder="Password" />
      </div>
    </div>

    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
