<h1>{{ name }}</h1>
<p class="description">{{ description }}</p>
<div class="pull-right">
  <button class="btn btn-primary edit">Edit</button>
  <button class="btn btn-danger destroy">Delete</button>
</div>
